---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";


post, body{
  font-family:'Times New Roman', Times, serif;
  color: aqua;
  font-size:medium;
  font-weight: 100;
  }
  
  

  

