---
# Only the main Sass file needs front matter (the dashes are enough)
---


@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";
  base, body{
    font-family:'Times New Roman', Times, serif;
    color:black;
  }
  home, body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color:blue;
  }

  page, body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: violet;
  }

  post{
    color: yellow;
  }

  

  

